tr{
  background-color: #48aae7;
}
.container{
  position: relative;
  display: inline-block;
}

tbody{
  
}

table{
  margin: 60px;
  border: 1px solid black;
}
.buttonPlus{
  background-color: #f3a600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  position: absolute;
}

.buttonMinus{
  background-color: #b20000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  position: absolute;
}

.plCol{
  right: 0;
  top:60px;
}

.plRow{
  bottom: 0;
  left: 60px;
}

.minCol{
  top:0;
}

.minRow{
  left: 0;
}